.bolognese {color: rgb(160, 5, 5);
            background-color: rgb(245, 128, 128);
            font-family: Impact, 'Arial Narrow Bold', sans-serif;
            font-weight: 600;}
.week {font-style: italic;}
.beginning, .start {font-style: oblique;
                    color: coral;}
.hot {background-color: red;}
.wine {color: red;}
