.bolognese {color: rgb(160, 5, 5);
            background-color: rgb(245, 128, 128);
            font-family: Impact, 'Arial Narrow Bold', sans-serif;
            font-weight: 600;}
.week {font-style: italic;}
.beginning, .start {font-style: oblique;
                    color: coral;}

.food {background-color: cornsilk;}
.food.brown {color: brown;}
.food.red {color: crimson;}
.food.plain {color: blanchedalmond;
            background-color:darkkhaki;}
.yellow {color: rgb(165, 165, 6);}

.hot {background-color: red;}
.wine {color: red;}
