.toast-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;}

.nostalgia { 
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;}
        
#Toast {text-align: center;
        text-decoration: underline;}

    
.Sliced {font-family: "Courier New";}

.week {font-style: italic;}

.beginning, .start {
        text-decoration-style: wavy;
        color: rgb(255, 80, 185);}
                
.beginning.recipe {text-decoration-line: underline;}  
.start.recipe {font-weight: 400;}

